html {
    /*background-color: #160f29;*/
    background-color: #0d3d56;

}

button:focus {
    border: dashed;
}

hr {
    border-color: #0d3d56;
    background-color: #0d3d56;
}

tw-story {
    width: 95%;
    /* padding wichtig fuer arrow icons */
    /*padding: 2%;*/
    align-self: center;
    overflow: hidden;
}

tw-passage {
/*    background-color: #FCFBE3;*/
    font-size: 1.8em;
    /* golden ratio for readability */
    line-height: 1.6;
    width: 95%;
    padding: 2%;
    align-self: center;
    white-space: normal;

    /*border: solid #000 0.05em;*/
    border-radius: 0.2em;

    /*color:#373d3F;*/
    background-color: white;
}

tw-link {
    text-decoration-line: underline;
}

tw-link:hover {
    text-decoration-line: overline underline;
}


/* icon arrows */
tw-icon {
    color: black;
    opacity: 1;
}
/* Forward / backward icons */
/*tw-sidebar {
    font-size: 24px;
    margin: auto 2%;
    display: none;
}*/

/* Try to make images scale */
img {
    max-width: 100%;
    width: auto;
    height: auto;
    margin: 2%;
}

/* Span containing Player name and score */
.score {
    float: left;
    margin: 1%;
}

/* buttons in headers and footers */
.header button, .footer button {
    float: right;
    margin: 1%;
}

.footer button.uebersicht {
    float: left;
}

.header, .footer {
    overflow: hidden;
    clear: both;
    /*background-color: #F26D21*/

}

.continue {
    text-align: center;
}

.versteckt {

}

mark {}

html.kapitel2 {
    /*background-color: white;*/
}

video {
    width:100%;
    height:auto;
    align-self: center;
    preload: none;
}

.clearFloat {
    clear: both;
    display: hidden;
}

/* ====================== */
/* PASSWORD TESTER STUFF  */
/* ====================== */

#passwordContainer {
    text-align: center;
}

#complexity, #inputPassword {
    width: 70%;
    margin: auto;
    text-align: center;
}

/* Farben fuer den Passwort-Tester */
.inactive{background-color: #FFF;}
.tooShort{background-color: #17b0da;}
.weak{color: #FFF; background-color: #9a2617;}
.strong{background-color: #f26d21;}
.stronger{background-color: #6eca74;}
.strongest{background-color: #3fad46;}


/* ====================== */
/* DRAG AND DROP STUFF    */
/* ====================== */

.measure {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: solid 1px;
  border-radius: 50px;
  padding: 10px;
  margin: 10px;
  background-color: #e7e7e7;
}

.target {
  width: 80%;
  min-height: 100px;

  border: solid 2px;
  border-radius: 50px;
  padding: 20px;
  margin: 20px;
  background-color: yellow;

  text-align: center;
}

[draggable] {
  user-select: none;
}

.column {
  width: 45%;
  height: 100%;
  flex: 1;
  display: flex;
  flex-direction: column;

  flex-flow: column nowrap;
  justify-content: space-between;
  align-items: center;

}

#DragAndDrop {
  display: flex;
  align-items: center;
  width: 100%;
}
